package user

import (
	"context"
	"github.com/gvlpedro/gotest/model"
	"github.com/gvlpedro/gotest/view/layout"
)

func getAuthenticatedUser(c context.Context) string {
	user, ok := c.Value("email").(string)
	if !ok {
		return ""
	}
	return user
}

templ Show(user model.User) {
	@layout.Base() {
        <h3> context: { getAuthenticatedUser(ctx) } </h3>
		<p> Hi { user.Email }:</p>
	}
}
