package user

import (
    "github.com/gvlpedro/gotest/view/layout"
    "github.com/gvlpedro/gotest/model"
)

templ Show(user model.User){
    @layout.Base(){
        <h1> Hello {user.Email}</h1>
    }
}